body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: slategray;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-family: monospace;
  color:aqua;
  font-size: 26px;
}

p {
  color:aquamarine;
}

